In [2]:
import pandas as pd

In [5]:
df1 = pd.read_csv("__pricedata.csv")
df2 = pd.read_csv("Artificial_env.csv")

In [8]:
df1.Open = df1.Open[0]
df1.High = df1.High[0]
df1.Low = df1.Low[0]
df1.Close = df1.Close[0]
df1

                  Date     Open    High     Low    Close  Volume
0     2020-04-23 00:00  7138.29  7158.7  7108.0  7122.21   81.59
1     2020-04-23 01:00  7138.29  7158.7  7108.0  7122.21  175.45
2     2020-04-23 02:00  7138.29  7158.7  7108.0  7122.21  131.63
3     2020-04-23 03:00  7138.29  7158.7  7108.0  7122.21  227.12
4     2020-04-23 04:00  7138.29  7158.7  7108.0  7122.21   60.48
...                ...      ...     ...     ...      ...     ...
4295  2020-10-19 03:00  7138.29  7158.7  7108.0  7122.21   68.79
4296  2020-10-19 04:00  7138.29  7158.7  7108.0  7122.21   23.76
4297  2020-10-19 05:00  7138.29  7158.7  7108.0  7122.21   40.37
4298  2020-10-19 06:00  7138.29  7158.7  7108.0  7122.21   59.73
4299  2020-10-19 07:00  7138.29  7158.7  7108.0  7122.21  121.56

[4300 rows x 6 columns]

In [9]:
df1.to_csv("_pricedataArtif.csv",index=False)

In [8]:
punishment_cofactor = .00001

In [9]:
def yaroo ():
    global punishment_cofactor
    punishment_cofactor *=2

In [14]:
yaroo()

In [15]:
punishment_cofactor

8e-05

In [ ]:
punishment_cofactor *=2